@model GetByLayoutSeoDto

<meta name="description" content="@Model.Description">
<meta name="keywords" content="@Model.KeyWords">
<link rel="shortcut icon" href="~/MyImages/Seo/@Model.ImageName">
<title>@Model.Title</title>
